In [5]:
import pandas as pd
df = pd.read_csv("main.csv")
df

        Month     Major Holiday Birth Stone
0     January           MLK Day      Garnet
1    February    Valentines Day    Amethyst
2       March  St. Patricks Day  Aquamarine
3       April   April Fools Day     Diamond
4         May     Cinco de Mayo     Emerald
5        June       Fathers Day       Pearl
6        July       4th of July        Ruby
7      August  Left Handers Day     Peridot
8   September         Labor Day    Sapphire
9     October         Halloween  Tourmaline
10   November      Thanksgiving       Topaz
11   December         Christmas   Tanzanite

In [14]:
for m, mh, bs in zip(df['Month'], df['Major Holiday'], df["Birth Stone"]):
    text = f"{m} = Month(range(1, 31), '{m}', '{mh}','{bs}')"

In [19]:
with open("hw.py", "w") as f:
    for m, mh, bs in zip(df['Month'], df['Major Holiday'], df["Birth Stone"]):
        text = f"{m} = Month(range(1, 31), '{m}', '{mh}','{bs}')"
        f.write(text)
        f.write('\n')